.container {
  display: flex;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  align-items: center;
  justify-content: center;

}


.action-button {
  background-color: #00BCD4;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  animation: init 5s ease 1s;
  transform: scale(5) translateX(0%) rotate(450deg);

}


@keyframes init {
  0% {
    transform: scale(100) translateX(20%) rotate(300deg);
    background-color:gray;
  }

  50% {
    transform: scale(10) translateX(10%) rotate(90deg);
    background-color:gray;
  }


  90% {
    transform: scale(5) translateX(0%) rotate(450deg);
    background-color:gray;
  }

  100% {
  background-color: #00BCD4;

  }
}
